<!DOCTYPE html>
<html ng-app="">
<head>
  <title>人力資源管理</title>

  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="cleartype" content="on" />

  <meta name="keywords" content="hr, 人力資源" />
  <meta name="description" content="人力資源管理。" />
  <meta name="author" content="Yao Ming Huang" />

  <link rel="icon" href="/favicon.ico" />
</head>
<body>

<h1>授權完成！</h1>

<script>
    setInterval(function(){window.close()}, 1000);
</script>
</body>
</html>
