*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
/config/settings.local.yml

/public/ui/index.html
/public/ui/state1.html
/public/ui/state1.list.html
/public/ui/state2.html
/public/ui/state2.list.html
/public/ui/ui.js
/.idea/.name
/.idea/dictionaries/Yaoming.xml
/.idea/encodings.xml
/.idea/hr.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/app/assets/.idea/.name
/app/assets/.idea/assets.iml
/app/assets/.idea/encodings.xml
/app/assets/.idea/misc.xml
/app/assets/.idea/modules.xml
/app/assets/.idea/scopes/scope_settings.xml
/app/assets/.idea/vcs.xml
/app/assets/.idea/workspace.xml
/.idea/.rakeTasks
/.idea/runConfigurations/Development__hr.xml
/.idea/runConfigurations/Production__hr.xml
/.idea/runConfigurations/spec__hr.xml
/.idea/runConfigurations/test__hr.xml
