
/*.cell {*/
    /*background-color: lightgrey;*/
    /*border: 1px solid #ffffff;*/
/*}*/

.cell {
    border: 1px solid black;
    text-align: center;
}

/*tr.header.last .cell,*/
/*tr.middle.last .cell {*/
    /*border: 1px solid chartreuse;*/
/*}*/

.header.row {
    background-color: oldlace;
}

.cell.left {
    background-color: aliceblue;
}