
.cell {
    background-color: lightgrey;
    border: 1px solid #ffffff;
}

.cell.center.first,
.cell.right.first {
    border-left: 2px solid darkblue;
}

tr.header.last .cell,
tr.middle.last .cell {
    border-bottom: 2px solid darkblue;
}