<div class="btn-group">
    <label style="margin: 2px;width: 80px" class="btn" ng-class="{true:'btn-primary',false:'btn-default'}[currentCtor.id==ctor.id]" ng-repeat="ctor in (global.contributors | orderBy:'name':'true')" ng-click="setCurrentCtor(ctor)">{{ctor.name}}
    </label>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-class="{true:'btn-primary',false:'btn-default'}[p.date==currentDate]" ng-repeat="p in lastSummary"  ng-click="setCurrentDate(p.date)">{{p.date}}</button>
            </div>
            <div style="height:800px" ng-grid="gridOptions"></div>
        </div>
        <div class="col-md-4">
            <form class="form well" role="form" name="form">
                <div class="form-group">
                    <label class="control-label" for="contribute_date">日期</label>
                    <input name="date" disabled ng-model="selectedContribute.date" type="text" class="form-control" id="contribute_date" placeholder="範例：2014/01/15">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contribute_amount">預計</label>
                    <input name="estimate" disabled ng-model="selectedContribute.estimate" type="text" class="form-control" id="contribute_estimate" placeholder="預計">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contribute_amount">時數</label>
                    <input name="amount" disabled ng-model="selectedContribute.amount" type="text" class="form-control" id="contribute_amount" placeholder="時數">
                </div>
                <div class="form-group">
                    <label class="control-label">專案</label>
                    <br>
                    <button id="selProject" class="btn btn-default btn-block" ng-model="selectedContribute.ref_project_id" disabled data-html="true" data-placeholder="選擇一個項目" ng-options="p.id as '('+ p.projectCategory.name + ')' + p.name for p in global.projects | orderBy:'projectCategory.name' " bs-select>
                    </button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="contribute_title">Title</label>
                    <input name="title" disabled ng-model="selectedContribute.title" type="text" class="form-control" id="contribute_title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label class="control-label" for="contribute_desc">說明</label>
                    <textarea disabled ng-model="selectedContribute.description" class="form-control" style="height:100px" id="contribute_desc" placeholder="說明" name="description">
                    </textarea>
                </div>
                <br/>
            </form>
        </div>
    </div>
</div>
