<div class="row" style="padding: 5px">
    <div class="col-md-8">
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click="newItem()">新增</button>
        </div>
        <div style="height:800px" ng-grid="gridOptions"></div>
    </div>

    <div class="col-md-4">
        <form class="form well" role="form">
            <div ng-show="!selectedItemRef" class="control-label text-center bg-info text-danger">(新記錄)</div>
            <div class="form-group">
                <label class="control-label" for="contributor">頭目</label>
                <br>
                <button type="button" class="btn btn-default btn-block" ng-model="selectedItem.ref_contributor_id" data-html="true" data-placeholder="選擇一個頭目" ng-options="p.id as p.name for p in global.contributors" bs-select id="contributor">
                </button>
            </div>
            <div class="form-group">
                <label class="control-label" for="category">分類</label>
                <button type="button" class="btn btn-default btn-block" ng-model="selectedItem.ref_category_id" data-html="true" data-placeholder="選擇一個項目" ng-options="p.id as p.name for p in global.project_categories" bs-select>
                </button>
            </div>
            <div class="form-group">
                <label class="control-label" for="name">名稱</label>
                <input ng-model="selectedItem.name" type="text" class="form-control" id="name" placeholder="名稱">
            </div>
            <div class="form-group">
                <label class="control-label" for="desc">說明</label>
                <textarea ng-model="selectedItem.description" class="form-control" style="height:200px" id="desc" placeholder="說明">
                </textarea>
            </div>

            <br/>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success" ng-click="saveItem()">儲存</button>
                </div>
                <div class="col-md-6 text-right">
                    <button ng-disabled="!selectedItem.id" type="submit" class="btn btn-danger" ng-click="deleteItem()">刪除</button>
                </div>
            </div>
            <br/>

            <!-- <div>{{selectedContribute}}</div> -->
        </form>
    </div>
</div>
