<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-model="selectedSummary"
                        data-html="true" data-placeholder="選擇一個項目"
                        ng-options="p.date as p.date + '  (' + p.amount_sum + ')' for p in lastSummary"
                        bs-select></button>
                <button type="submit" class="btn btn-success" ng-click="copyToToday()">複製到今天</button>
                <button type="submit" class="btn btn-danger" ng-click="deleteSelectedRows()">刪除選擇行</button>
                <span ng-show="saving">Saving...</span>
            </div>
            <div ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid="gridOptions"   ui-grid-selection style="width: 100%; height: 400px" ></div>
        </div>
    </div>
</div>
