<div class="btn-group">
    <label style="margin: 2px;width: 80px" class="btn btn-primary">
        <input type="checkbox" class="pull-left" ng-model="contributors_all">全部
    </label>
    <label style="margin: 2px;width: 80px" class="btn btn-primary"
           ng-repeat="ctor in (g.contributors | orderBy:'name':'true')">
        <input type="checkbox" class="pull-left"
               checklist-model="contirbutor_filter" checklist-value="ctor">{{ctor.name}}
    </label>
</div>

<br>

<div class="btn-group">
    <label style="margin: 2px;width: 150px" class="btn btn-info">
        <input type="checkbox" class="pull-left" ng-model="projects_all">全部
    </label>
    <label style="margin: 2px;width: 150px" class="btn btn-info"
           ng-repeat="item in (g.projects | orderBy:'projectCategory.name':'true')">
        <input type="checkbox" class="pull-left"
               checklist-model="project_filter" checklist-value="item">{{'(' +item.projectCategory.name + ')' + item.name}}
    </label>
</div>

<h1 class="text-center text-primary" style="padding:10px">資源投入統計</h1>
<div id="charts" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<br>
<!--<label>Multiple select:&nbsp;</label>-->
<!--<button  type="button" class="btn btn-default" data-html="1" data-multiple="1"-->
         <!--ng-model="contirbutor_filter"-->
         <!--ng-options="ctor as ctor.name for ctor in g.contributors"-->
         <!--bs-select>-->
    <!--Action <span class="caret"></span>-->
<!--</button>-->
