<!DOCTYPE html>
<html ng-app="xxx">
<head>
	<title>人力資源管理</title>
	
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="cleartype" content="on" />

	<meta name="keywords" content="hr, 人力資源" />
	<meta name="description" content="人力資源管理。" />
	<meta name="author" content="Yao Ming Huang" />

	<link rel="icon" href="/favicon.ico" />
</head>
<body>
	<h1>ischool 沒有你可貢獻的地方，呵！</h1>
	<a href="/#/" class="btn btn-primary">重新登入</a><br>
	<iframe src="<%=Settings[:OAuth_Service][:Logout]%>" style="visibility:hidden"></iframe>

	<script src="/js/angular.js"></script>
</body>
</html>