<!DOCTYPE html>
<html ng-app="hr">
<head>
	<title>人力資源管理</title>
	
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="cleartype" content="on" />

	<meta name="keywords" content="hr, 人力資源" />
	<meta name="description" content="人力資源管理。" />
	<meta name="author" content="Yao Ming Huang" />

	<link rel="icon" href="/favicon.ico" />
</head>
<body>

	<%= yield %>

	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-additions.min.css" rel="stylesheet">
	<link href="css/angular-motion.min.css" rel="stylesheet">
	<link href="css/ng-grid.css" rel="stylesheet" />
	<link href="css/root.css" rel="stylesheet" />

	<script src="lib/moment/moment.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
 	<script src="lib/angularjs/angular.js"></script>
 	<script src="lib/angularjs/i18n/angular-locale_zh-tw.js"></script>
 	
	<script src="lib/angularjs/angular-route.min.js"></script>
	<script src="lib/angularjs/angular-animate.min.js"></script>
	<script src="lib/angularjs/angular-sanitize.min.js"></script>
 	<script src="lib/ng-grid/ng-grid.js"></script>
	<script src="lib/bootstrap/bootstrap.min.js"></script>
	<!-- // <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.10.0.js"></script> -->
	<script src="lib/angular-strap/angular-strap.min.js"></script>
	<script src="lib/angular-strap/angular-strap.tpl.min.js"></script>
<!-- 	// <script src="lib/angular-strap/modules/tooltip.min.js"></script>
	// <script src="lib/angular-strap/modules/select.min.js"></script>
	// <script src="lib/angular-strap/modules/parse-options.js"></script>
	// <script src="lib/angular-strap/modules/dimensions.js"></script> -->

	<%= javascript_include_tag('application') %>

	<%= stylesheet_link_tag('application') %>
</body>
</html>
